:root {
    --app-height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #210446;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    height: 100%;
    overflow-x: hidden;
}

html, body {
    min-height: 100vh;
    min-width: 100%;
}

h1 {
    font-size: 6.4rem;
    margin-bottom: 4.8rem;
}

h2 {
    font-size: 4.8rem;
    margin-bottom: 3.2rem;
}

h2,
h3 {
    text-align: center;
}

button {
    cursor: pointer;
}

nav,
section,
footer {
    padding: 0 3.2rem;
}

section {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}

.navbar {
    align-items: center;
    background-color: #16052C;
    display: flex;
    height: 4.8rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar__logo {
    color: inherit;
    font-weight: 800;
    text-decoration: none;
}

.navbar__logo,
.navbar__item {
    text-transform: uppercase;
}

.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__list_desktop {
    display: none;
}

.navbar__list_mobile {
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgb(22, 5, 44, 0.95);
    flex-direction: column;
    height: calc(var(--app-height) - 4.8rem);
    justify-content: space-around;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: right;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    top: 4.8rem;
    width: 100%;
}

.navbar__list_mobile.navbar__list_visible {
    transform: translateX(0%);
}

.navbar__list_mobile .navbar__item {
    opacity: 0;
}

.navbar__item {
    margin-right: 1.6rem;
}

.navbar__item:last-of-type {
    margin: 0;
}

.navbar__item:hover {
    cursor: pointer;
}

.navbar__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navbar__link:after {
    background-color: #8C0086;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    width: 100%;
}

.navbar__link:hover:after, .navbar__link_active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes navItemFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.navbar__burger {
    background: none;
    border: none;
}

.navbar__burger_toggled .navbar__line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar__burger_toggled .navbar__line-2 {
    opacity: 0;
}

.navbar__burger_toggled .navbar__line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navbar__line-1,
.navbar__line-2,
.navbar__line-3 {
    height: 3px;
    width: 2rem;
    margin: 5px 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.hero {
    margin-top: 4.8rem;
    padding: 0;
}

.hero__outer-copy-container {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 3.2rem;
}

.hero__text {
    font-size: 3.2rem;
}

.hero__image {
    /* replace background with image */
    background: gray;
    /*  */
    height: 50vh;
}

.services {
    align-items: center;
    background-color: #440041;
    display: flex;
    flex-direction: column;
    padding-bottom: 4.8rem;
}

.services__title {
    margin-bottom: 1.6rem;
}

.services__inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90rem;
}

.services__icon {
    margin-bottom: 1.6rem;
}

.services__item {
    background-color: #670062;
    border-radius: 3px;
    padding: 3.2rem;
    margin-top: 3.2rem;
    text-align: center;
}

.services__item-title {
    margin-bottom: 1.6rem;
    text-align: center;
}

/* Add projects section below */




/*   */

.tools {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.6rem;
}

.tools__inner-container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50rem;
}

.tools__icon {
    margin-bottom: 1.6rem;
}

.tools__item-title {
    font-weight: 600;
}

.tools__title,
.tools__item-title {
    color: #210446;
    margin-bottom: 1.6rem;
}

.tools__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3.2rem;
    width: 7.5rem;
}

.index-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-contact__text {
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
    text-align: center;
}

.index-contact__button {
    width: 15rem;
}

.index-contact__button, .success__button {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.main-contact__button, .success__button {
    margin-bottom: 1.6rem;
}

.index-contact__button, .main-contact__button, .success__button {
    align-self: center;
    background-color: #8C0086;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 1.6rem;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in;
}

.index-contact__button:hover, .main-contact__button:hover, .success__button:hover {
    background-color: #a7159f;
    transition: background-color 0.5s ease-in;
} 

.main-contact {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4.8rem;
    min-height: calc(100vh - 4.8rem);
    background-color: #440041;
}

.main-contact__form-container {
    width: 30rem;
}

.main-contact__text-input-container {
    display: flex;
    flex-direction: column;
}

.name {
    margin-bottom: 1.6rem;
}

.message {
    margin: 1.6rem 0;
    resize: none;
    width: 100%;
}

.name, .email, .message {
    border: none;
    border-radius: 3px;
    color: #440041;
    font-family: inherit;
    padding: 1.6rem;
}

.name::placeholder, .email::placeholder, .message::placeholder {
    color: #210446;
}

.g-recaptcha div:first-child {
    margin: auto;
  }

.main-contact__button {
    width: 100%;
}

.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.success__inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__button {
    width: 20rem;
}

.success__title, .success__text {
    text-align: center;
    margin-bottom: 3.2rem;
}

.footer {
    background-color: #16052C;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
}

.footer__copyright {
    margin-bottom: 1.6rem;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .navbar__list_desktop {
        display: flex;
    }

    .navbar__list_mobile {
        display: none;
    }

    .navbar__burger {
        display: none;
    }

    .hero {
        display: flex;
        margin-top: 4.8rem;
        padding-right: 0;
        height: calc(100vh - 4.8rem);
    }

    .hero__outer-copy-container {
        height: 100%;
        width: 50%;
    }

    .hero__image {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        height: 100%;
        width: 50%;
    }
    .services__item {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        width: 35rem;
    }
    .main-contact__form-container {
        width: 60rem;
    }
    .main-contact__text-input-container {
        flex-direction: row;
    }
    .name {
        margin: 0;
        margin-right: 0.8rem;
    }
    .email {
        margin-left: 0.8rem;
    }
    .name, .email {
        width: 29.2rem;
    }
}