:root {
    --app-height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #210446;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

footer {
    background-color: #16052C;
}

nav, section, footer {
    padding: 0 2rem;
}

.navbar {
    align-items: center;
    background-color: #16052C;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.navbar__logo {
    color: inherit;
    font-weight: 800;
    text-decoration: none;
}

.navbar__logo, .navbar__link {
    text-transform: uppercase;
}

.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__list_desktop {
    display: none;
}

.navbar__list_mobile {
    align-items: center;
    background-color: #16052C;
    flex-direction: column;
    height: calc(var(--app-height) - 3rem);
    justify-content: space-around;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: right;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    top: 3rem;
    width: 100%;
}

.navbar__list_mobile.navbar__list_visible {
    transform: translateX(0%);
}

.navbar__list_mobile .navbar__link {
    opacity: 0;
}

.navbar__link {
    margin-right: 1rem;
}

.navbar__link:last-of-type {
    margin: 0;
}

.navbar__link:hover {
    cursor: pointer;
}

.navbar__link_active, .navbar__link:hover {
    font-weight: 600;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.navbar__burger {
    cursor: pointer;
}

.navbar__burger_toggled .navbar__line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar__burger_toggled .navbar__line-2 {
    opacity: 0;
}

.navbar__burger_toggled .navbar__line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navbar__line-1, .navbar__line-2, .navbar__line-3 {
    height: 3px;
    width: 1.5rem;
    margin: 5px 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.hero {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
}

.hero__outer-copy-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.hero__title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hero__text {
    font-size: 2rem;
}

.services {
    background-color: #440041;
}

@media only screen and (min-width: 600px) {
    .navbar__list_desktop {
        display: flex;
    }
    .navbar__list_mobile {
        display: none;
    }
    .navbar__burger {
        display: none;
    }
}