:root {
    --app-height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #210446;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2,
h3 {
    text-align: center;
}

nav,
section,
footer {
    padding: 0 2rem;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar {
    align-items: center;
    background-color: #16052C;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar__logo {
    color: inherit;
    font-weight: 800;
    text-decoration: none;
}

.navbar__logo,
.navbar__link {
    text-transform: uppercase;
}

.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__list_desktop {
    display: none;
}

.navbar__list_mobile {
    align-items: center;
    background-color: #16052C;
    flex-direction: column;
    height: calc(var(--app-height) - 3rem);
    justify-content: space-around;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: right;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    top: 3rem;
    width: 100%;
}

.navbar__list_mobile.navbar__list_visible {
    transform: translateX(0%);
}

.navbar__list_mobile .navbar__link {
    opacity: 0;
}

.navbar__link {
    margin-right: 1rem;
}

.navbar__link:last-of-type {
    margin: 0;
}

.navbar__link:hover {
    cursor: pointer;
}

.navbar__link_active,
.navbar__link:hover {
    font-weight: 600;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.navbar__burger {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar__burger_toggled .navbar__line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar__burger_toggled .navbar__line-2 {
    opacity: 0;
}

.navbar__burger_toggled .navbar__line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navbar__line-1,
.navbar__line-2,
.navbar__line-3 {
    height: 3px;
    width: 1.5rem;
    margin: 5px 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.hero {
    margin-top: 3rem;
    height: calc(100vh - 3rem);
    padding: 0;
}

.hero__outer-copy-container {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 0 2rem;
}

.hero__text {
    font-size: 2rem;
}

.hero__image {
    /* replace background with image */
    background: gray;
    /*  */
    height: 50%;
}

.services {
    align-items: center;
    background-color: #440041;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.services__title {
    margin-bottom: 1rem;
}

.services__inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

.services__icon {
    margin-bottom: 1rem;
}

.services__item {
    background-color: #670062;
    border-radius: 3px;
    box-shadow: 7px 5px 15px 4px rgba(43,1,41,0.2);   
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    width: 350px;
}

.services__item-title {
    margin-bottom: 1rem;
    text-align: center;
}

/* Add projects section below */




/*   */

.tools {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.tools__inner-container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
}

.tools__icon {
    margin-bottom: 1rem;
}

.tools__item-title {
    font-weight: 600;
}

.tools__title,
.tools__item-title {
    color: #210446;
    margin-bottom: 1rem;
}

.tools__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 75px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 600px;
    text-align: center;
}

.contact__button {
    align-self: center;
    background-color: #8C0086;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 800;
    height: 50px;
    text-transform: uppercase;
    width: 150px;
}

.footer {
    background-color: #16052C;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
}

.footer__copyright {
    margin-bottom: 1rem;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .navbar__list_desktop {
        display: flex;
    }

    .navbar__list_mobile {
        display: none;
    }

    .navbar__burger {
        display: none;
    }

    .hero {
        display: flex;
        margin-top: 3rem;
        height: calc(100vh - 3rem);
        padding-right: 0;
    }

    .hero__outer-copy-container {
        height: 100%;
        width: 50%;
    }

    .hero__image {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        height: 100%;
        width: 50%;
    }
}