.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #210446;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    height: 100%;
    overflow-x: hidden;
}

body.overflow-hidden {
    overflow: hidden;
}

html,
body {
    min-height: 100vh;
    min-width: 100%;
}

h1 {
    font-size: 6.4rem;
    margin-bottom: 4.8rem;
}

h2 {
    font-size: 4.8rem;
    margin-bottom: 3.2rem;
}

h2,
h3 {
    text-align: center;
}

button {
    cursor: pointer;
}

nav,
section,
footer {
    padding: 0 3.2rem;
}

section {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}

.navbar {
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition: height 0.5s ease-in;
    width: 100%;
    z-index: 1;
}

.navbar::after {
    backdrop-filter: blur(0.5rem);
    background-color: rgb(22, 5, 44, 0.95);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.navbar__logo {
    color: inherit;
    font-weight: 800;
    text-decoration: none;
}

.navbar__logo,
.navbar__item {
    text-transform: uppercase;
}

.navbar__list {
    display: flex;
    list-style: none;
}

.navbar__list_desktop {
    display: none;
}

.navbar__list_mobile {
    align-items: center;
    backdrop-filter: blur(0.5rem);
    background-color: rgb(22, 5, 44, 0.95);
    flex-direction: column;
    height: calc(100vh - 8rem);
    justify-content: space-around;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    top: 8rem;
    width: 100%;
}

.navbar__list_mobile.navbar__list_visible {
    transform: translateX(0%);
}

.navbar__list_mobile .navbar__item {
    opacity: 0;
}

.navbar__item {
    margin-right: 1.6rem;
}

.navbar__item:last-of-type {
    margin: 0;
}

.navbar__item:hover {
    cursor: pointer;
}

.navbar__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navbar__link:after {
    background-color: #b624af;
    bottom: 0;
    content: '';
    height: 0.2rem;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    width: 100%;
}

.navbar__link:hover:after,
.navbar__link_active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes navItemFade {
    from {
        opacity: 0;
        transform: translateX(5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar__burger {
    background: none;
    border: none;
}

.navbar__burger_toggled .navbar__line-1 {
    transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
}

.navbar__burger_toggled .navbar__line-2 {
    opacity: 0;
}

.navbar__burger_toggled .navbar__line-3 {
    transform: rotate(45deg) translate(-0.5rem, -0.6rem);
}

.navbar__line-1,
.navbar__line-2,
.navbar__line-3 {
    height: 0.3rem;
    width: 2rem;
    margin: 0.5rem 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.main-content-container {
    transition: margin-top 0.5s ease-in;
    margin-top: 8rem;
}

.hero {
    padding: 0;
}

.hero__outer-copy-container {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 3.2rem;
}

.hero__text {
    font-size: 3.2rem;
}

.hero__video-container {
    align-items: center;
    display: flex;
    padding-bottom: 5.7rem ;
    padding-left: 3.2rem;
    padding-right: 5.7rem;
    width: 100%;
}

.hero__video {
    box-shadow: 25px 25px 0px 5px #16052C;
    display: flex;
    width: 100%;
}

.services {
    align-items: center;
    background-color: #440041;
    display: flex;
    flex-direction: column;
    padding-bottom: 4.8rem;
}

.services__title {
    margin-bottom: 1.6rem;
}

.services__inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90rem;
}

.services__icon {
    height: 5rem;
    margin-bottom: 1.6rem;
    width: 5rem;
}

.services__item {
    background-color: #670062;
    border-radius: 0.3rem;
    padding: 3.2rem;
    margin-top: 3.2rem;
    text-align: center;
}

.services__item-title {
    margin-bottom: 1.6rem;
    text-align: center;
}

.projects__inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects__item {
    border-radius: 0.3rem;
    margin-bottom: 3.2rem;
    padding: 2.5rem;
    padding-left: 0;
}

.projects__item-title {
    margin-bottom: 1.6rem;
}

.projects__video {
    box-shadow: 25px 25px 0px 5px #16052C;
    width: 100%;
}

.tools {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.6rem;
}

.tools__inner-container {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50rem;
}

.tools__icon {
    height: 8rem;
    margin-bottom: 1.6rem;
    width: 8rem;
}

.tools__item-title {
    font-weight: 600;
}

.tools__title,
.tools__item-title {
    color: #210446;
    margin-bottom: 1.6rem;
}

.tools__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3.2rem;
    width: 7.5rem;
}

.index-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-contact__text {
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
    text-align: center;
}

.index-contact__button {
    width: 15rem;
}

.index-contact__button,
.success__button,
.error__button {
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.main-contact__button {
    margin-bottom: 3.2rem;
}

.index-contact__button,
.main-contact__button,
.success__button,
.error__button {
    align-self: center;
    background: linear-gradient(to left, transparent 50%, #b624af 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    border: 0.2rem solid #b624af;
    border-radius: 0.3rem;
    color: #b624af;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 1.6rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
}

.index-contact__button:hover,
.main-contact__button:hover,
.success__button:hover,
.error__button:hover {
    background-position: left bottom;
    color: white;
    transition: all 0.5s ease-in;
}

.about {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 8rem);
}

.about__outer-container {
    display: flex;
    flex-direction: column;
}

.about__copy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3.2rem;
    ;
}

.about__title {
    text-align: left;
}

.about__image-container {
    align-items: center;
    display: flex;
    padding-bottom: 2.5rem;
    padding-right: 2.5rem;
}

.about__image {
    box-shadow: 25px 25px 0px 5px #16052C;
    height: min-content;
    width: 100%;
}

.main-contact {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 8rem);
    background-color: #440041;
}

.main-contact__form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.main-contact__phone {
    margin-bottom: 1.6rem;
}

.main-contact__email {
    margin-bottom: 3.2rem;
}

.main-contact__phone, .main-contact__email {
    color: inherit;
}

.main-contact__text-input-container {
    display: flex;
    flex-direction: column;
}

.main-contact__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    overflow: hidden;
}

.main-contact__label {
    background-color: #670062;
    padding: 0.8rem;
    padding-left: 1.6rem;
}

.message {
    margin-bottom: 1.6rem;
    resize: none;
    width: 100%;
}

.name,
.email,
.message {
    border: none;
    color: #440041;
    font-family: inherit;
    padding: 1.6rem;
}

.name::placeholder,
.email::placeholder,
.message::placeholder {
    color: #210446;
}

.g-recaptcha div:first-child {
    margin: auto;
}

.main-contact__button {
    width: 100%;
}

.success {
    background-color: #440041;
}

.success, .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.success__inner-container, .error__inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__button, .error__button {
    width: 20rem;
}

.success__title,
.success__text,
.error__title,
.error__text {
    text-align: center;
    margin-bottom: 3.2rem;
}

.footer {
    background-color: #16052C;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
}

.footer__copyright {
    margin-bottom: 1.6rem;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .navbar__list_desktop {
        display: flex;
    }

    .navbar__list_mobile {
        display: none;
    }

    .navbar__burger {
        display: none;
    }

    .hero {
        display: flex;
        height: calc(100vh - 8rem);
    }

    .hero__outer-copy-container {
        height: 100%;
        width: 50%;
    }

    .hero__video-container {
        padding: 0;
        padding-right: 5.7rem;
        width: 50%;
    }

    .hero__video {
        height: min-content;
    }

    .services__item {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        width: 35rem;
    }

    .projects__item {
        width: 80rem;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .about__outer-container {
        flex-direction: row;
        max-width: 105.3rem;
    }

    .about__copy-container {
        padding-right: 3.2rem;
        width: 60%;
    }

    .about__image-container {
        justify-content: center;
        width: 40%;
        max-width: 42.119rem;
    }

    .about__image {
        width: 100%;
        object-fit: contain;
    }

    .main-contact__form-container {
        width: 60rem;
    }

    .main-contact__text-input-container {
        flex-direction: row;
    }

    .main-contact__name-field {
        margin-right: 0.8rem;
    }

    .main-contact__email-field {
        margin-left: 0.8rem;
    }

    .name,
    .email {
        width: 28.4rem;
    }
}